@page "/"
@attribute [Authorize]
@using SUI.UIHarness.Web.Components.Controls
@using SUI.UIHarness.Web.Models
@using SUI.UIHarness.Web.Models.Find
@using SUI.UIHarness.Web.Services

<PageTitle>SUI Test Harness</PageTitle>

<h1>SUI Test Harness</h1>

<div class="" style="padding-top: 24px;">
    <div class="mb-3">
        <p><strong>Current Custodian:</strong> @_selectedOrg</p>
    </div>
    
    <ul class="nav nav-tabs mt-3" id="mainTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link @(_currentTab == "enrol" ? "active" : "")" id="tab-enrol-tab" type="button" role="tab" @onclick='_ => ChangeTabs("enrol")'>Enrol</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link @(_currentTab == "find" ? "active" : "")" id="tab-find-tab" type="button" role="tab" @onclick='_ => ChangeTabs("find")'>Find Records</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link @(_currentTab == "fetch" ? "active" : "")" id="tab-fetch-tab" type="button" role="tab" @onclick='_ => ChangeTabs("fetch")'>Fetch a record</button>
        </li>
    </ul>
    <div class="tab-content border border-top-0 p-3" id="mainTabsContent">
        <div class="tab-pane fade show active" id="tab-enrol" role="tabpanel" hidden='@(_currentTab != "enrol")'>
            <EnrolTab SelectedOrg="@_selectedOrg" CurrentPersonChanged="HandleCurrentPersonChanged"></EnrolTab>
        </div>
        <div class="tab-pane fade show active" id="tab-find" role="tabpanel" hidden='@(_currentTab != "find")'>
            <FindTab SelectedOrg="@_selectedOrg" Architecture="@_architecture" CurrentPerson="_currentPerson" CurrentRecordChanged="HandleCurrentRecordChanged" CurrentWorkItemIdChanged="workItemId => _currentWorkItemId = workItemId"></FindTab>
        </div>
        <div class="tab-pane fade show active" id="tab-fetch" role="tabpanel" hidden='@(_currentTab != "fetch")'>
            <FetchTab SelectedOrg="@_selectedOrg" SelectedRecordUrl="@_selectedRecordUrl"></FetchTab>
        </div>
    </div>
    <div class="pt-3 small text-black-50">
        <a href="" class="link-secondary link-underline-opacity-0 link-underline-opacity-100-hover" @onclick:preventDefault @onclick="@(() => _showDebug = !_showDebug)">
            @(_showDebug ? "- Info" : "+ Info")
        </a>
        @if (_showDebug)
        {
           <div class="mt-3">
                <div><strong>Base URL:</strong> @Configuration["BaseURL"]</div>
                <div><strong>Architecture:</strong> @_architecture</div>
                <div><strong>@(_architecture == "Fanout" ? "Job ID" : "Work Item ID"):</strong> @_currentWorkItemId</div>
            </div>
        }
    </div>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; } = default!;

    private string _selectedOrg = string.Empty;
    private string _architecture = string.Empty;
    private string _currentTab = "enrol";
    private LocalPerson? _currentPerson;
    private string _selectedRecordUrl = string.Empty;
    private string _currentWorkItemId = string.Empty;
    private bool _showDebug;
    
    [Inject]
    public required IFindService FindService { get; set; }
    
    [Inject]
    public required IConfiguration Configuration { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateTask;
        var user = authState.User;
        if (user.Identity?.IsAuthenticated == true)
        {
            _selectedOrg = user.Identity.Name ?? string.Empty;
            _architecture = user.FindFirst("Architecture")?.Value ?? string.Empty;
        }
    }

    private void ChangeTabs(string tab)
    {
        _currentTab = tab;
    }

    private void HandleCurrentPersonChanged(LocalPerson localPerson)
    {
        _currentPerson = localPerson;
        ChangeTabs("find");
    }

    private void HandleCurrentRecordChanged(LocalRecord localRecord)
    {
        _selectedRecordUrl = localRecord.Url;
        ChangeTabs("fetch");
    }
}