@model DataView

<h2 class="govuk-heading-l">Child details</h2>

<table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Summary details</caption>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Name</th>
        <td class="govuk-table__cell">@Model.PersonModel.Name</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Date of birth</th>
        <td class="govuk-table__cell">@Model.PersonModel.DateOfBirth</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Main address</th>
        <td class="govuk-table__cell">
            @Html.DisplayFor(x => x.PersonModel.MainAddress)
            @if (Model.PersonModel.PoliceMarker)
            {
                <govuk-tag class="govuk-tag--dark-blue">POLICE MARKER</govuk-tag>
            }
        </td>
    </tr>
    @if (Model.PersonModel.PoliceMarker)
    {
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Police marker details</th>
            <td class="govuk-table__cell">@Model.PersonModel.PoliceMarkerDetails</td>
        </tr>
    }
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Individuals residing at Main address</th>
        <td class="govuk-table__cell">@Html.DisplayFor(x => x.PersonModel.IndividualsAtMainAddress, "StringList")</td>
    </tr>
    </tbody>
</table>

<table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Personal details</caption>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Birth Assigned Sex</th>
        <td class="govuk-table__cell">@Model.PersonModel.BirthAssignedSex</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Pronouns</th>
        <td class="govuk-table__cell">@Model.PersonModel.Pronouns</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Ethnicity</th>
        <td class="govuk-table__cell">@Model.PersonModel.Ethnicity</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">First Language</th>
        <td class="govuk-table__cell">@Model.PersonModel.FirstLanguage</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Designated Local Authority</th>
        <td class="govuk-table__cell">@Model.PersonModel.DesignatedLocalAuthority</td>
    </tr>
    </tbody>
</table>

<table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Communication needs</caption>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">English as additional language (EAL)</th>
        <td class="govuk-table__cell">@Model.PersonModel.EnglishAsAdditionalLanguage</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Braille</th>
        <td class="govuk-table__cell">@Model.PersonModel.Braille</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Sign language</th>
        <td class="govuk-table__cell">@Model.PersonModel.SignLanguage</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Makaton</th>
        <td class="govuk-table__cell">@Model.PersonModel.Makaton</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Interpreter</th>
        <td class="govuk-table__cell">@Model.PersonModel.Interpreter</td>
    </tr>
    </tbody>
</table>

<h3 class="govuk-heading-m">Relationships</h3>

<table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--s">Family members</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Relationship</th>
        <th scope="col" class="govuk-table__header">Name</th>
        <th scope="col" class="govuk-table__header">Date of birth</th>
        <th scope="col" class="govuk-table__header">Risk</th>
        <th scope="col" class="govuk-table__header">Services known to</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    @foreach (var relationship in Model.PersonModel.Relationships)
    {
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">@relationship.Type</td>
            <td class="govuk-table__cell">@relationship.Name</td>
            <td class="govuk-table__cell">@relationship.DateOfBirth</td>
            <td class="govuk-table__cell">@relationship.Risk</td>
            <td class="govuk-table__cell">@Html.DisplayFor(_ => relationship.ServicesKnownTo, "StringList")</td>
        </tr>
    }
    </tbody>
</table>