@using SUI.SingleView.Web.Extensions
@model DataView

<h2 class="govuk-heading-l">Health</h2>
<govuk-summary-card>
    <govuk-summary-card-title>Health details</govuk-summary-card-title>
    <govuk-summary-list>
        <govuk-summary-list-row>
            <govuk-summary-list-row-key>Registered GP</govuk-summary-list-row-key>
            <govuk-summary-list-row-value>@Model.PersonModel!.HealthData?.RegisteredGPSurgery?.Value</govuk-summary-list-row-value>
        </govuk-summary-list-row>
        <govuk-summary-list-row>
            <govuk-summary-list-row-key>Contact details</govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @if (Model.PersonModel?.HealthData?.GpAddress?.Value != null)
                {
                    var address = Model.PersonModel.HealthData.GpAddress.Value.ToAddress();
                    @Html.DisplayFor(_ => address)
                }
                <br/><br/>
                @Model.PersonModel!.HealthData?.GpTelephone?.Value
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>
        <govuk-summary-list-row>
            <govuk-summary-list-row-key>CAMHS contact details</govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @if (Model.PersonModel?.HealthData?.CamhsContactDetails?.Value != null)
                {
                    @Html.DisplayFor(x => x.PersonModel!.HealthData!.CamhsContactDetails!.Value, "StringList")
                }
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>
        <govuk-summary-list-row>
            <govuk-summary-list-row-key>CAMHS team involvement</govuk-summary-list-row-key>
            <govuk-summary-list-row-value>
                @if (Model.PersonModel?.HealthData?.CamhsTeamInvolvement?.Value != null)
                {
                    @Html.DisplayFor(x => x.PersonModel!.HealthData!.CamhsTeamInvolvement!.Value, "StringList")
                }
            </govuk-summary-list-row-value>
        </govuk-summary-list-row>
    </govuk-summary-list>
</govuk-summary-card>
<table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Active health statuses and plans</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-width-one-half">Status</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-half">Plan</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    @foreach (var healthPlan in Model.PersonModel!.ActiveHealthPlans)
    {
        <tr class="govuk-table__row">
            <td class="govuk-table__header">@healthPlan.Status</td>
            <td class="govuk-table__cell">@healthPlan.Name</td>
        </tr>
    }
    </tbody>
</table>

@{
    var healthAttendanceSummary12Month = Model.PersonModel?.HealthAttendanceSummaries?.Last12Months;
    var healthAttendanceSummary5Year = Model.PersonModel?.HealthAttendanceSummaries?.Last5Years;
}

<table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">
        Attendance summary <br/>
        <p class="govuk-hint">Missed healthcare appointments and accident and emergency attendance</p>
        <govuk-details>
            <govuk-details-summary>What are community healthcare appointments</govuk-details-summary>
            <govuk-details-text></govuk-details-text>
        </govuk-details>
    </caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>
        <th scope="col" class="govuk-table__header">Missed GP appointments</th>
        <th scope="col" class="govuk-table__header">Missed hospital appointments</th>
        <th scope="col" class="govuk-table__header">Missed community health appointments</th>
        <th scope="col" class="govuk-table__header">Accident and emergency</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <td class="govuk-table__header">Last 12 months</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">@healthAttendanceSummary12Month?.CountOfMissedGPAppointments</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">@healthAttendanceSummary12Month?.CountOfMissedHospitalAppointments</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">@healthAttendanceSummary12Month?.CountOfMissedCommunityHealthAppointments</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">@healthAttendanceSummary12Month?.CountOfEmergencyDepartmentAttendances</td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__header">Last 5 years</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">@healthAttendanceSummary5Year?.CountOfMissedGPAppointments</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">@healthAttendanceSummary5Year?.CountOfMissedHospitalAppointments</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">@healthAttendanceSummary5Year?.CountOfMissedCommunityHealthAppointments</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">@healthAttendanceSummary5Year?.CountOfEmergencyDepartmentAttendances</td>
    </tr>
    </tbody>
</table>