@using SUI.SingleView.Web.Extensions
@model DataView

<h2 class="govuk-heading-l">Education</h2>

<table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Education details</caption>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Education setting</th>
        <td class="govuk-table__cell">@Model.PersonModel!.EducationDetails?.EducationSettingName?.Value</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Contact details</th>
        <td class="govuk-table__cell">
            @if (Model.PersonModel.EducationDetails?.EducationSettingAddress?.Value != null)
            {
                var address = Model.PersonModel.EducationDetails.EducationSettingAddress.Value.ToAddress();
                @Html.DisplayFor(_ => address)
            }
            <br/>
            <br/>
            @Model.PersonModel.EducationDetails?.EducationSettingTelephone?.Value
        </td>
    </tr>
    </tbody>
</table>

<table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Active childrens services statuses and plans</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Status</th>
        <th scope="col" class="govuk-table__header">Plan</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    @foreach (var relationship in Model.PersonModel.ActiveEducationPlans)
    {
        <tr class="govuk-table__row">
            <td class="govuk-table__header">@relationship.Status</td>
            <td class="govuk-table__cell">@relationship.Name</td>
        </tr>
    }
    </tbody>
</table>

<h3 class="govuk-heading-m">Education attendance history</h3>

@{
    var currentAcademicYear = Model.PersonModel?.EducationAttendanceSummaries?.CurrentAcademicYear;
    var lastAcademicYear = Model.PersonModel?.EducationAttendanceSummaries?.LastAcademicYear;
}

<govuk-tabs>
    <govuk-tabs-item id="current-academic-term" label="Current academic term">
        <a href="#" class="govuk-link">National average attendance</a>
        <table class="govuk-table">
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th class="govuk-table__header">Attendance %</th>
                <td class="govuk-table__cell">@currentAcademicYear?.AttendancePercentage</td>
            </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header">Unauthorised Absence %</th>
                <td class="govuk-table__cell">@currentAcademicYear?.UnauthorisedAbsencePercentage</td>
            </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header">Suspensions</th>
                <td class="govuk-table__cell">@currentAcademicYear?.Suspensions</td>
            </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header">Exclusions</th>
                <td class="govuk-table__cell">@currentAcademicYear?.Exclusions</td>
            </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header">School moves (non transitional)</th>
                <td class="govuk-table__cell">@currentAcademicYear?.SchoolMovesNonTransitional</td>
            </tr>
            </tbody>
        </table>
    </govuk-tabs-item>
    <govuk-tabs-item id="last-academic-year" label="Last academic year">
        <a href="#" class="govuk-link">National average attendance</a>
        <table class="govuk-table">
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th class="govuk-table__header">Attendance %</th>
                <td class="govuk-table__cell">@lastAcademicYear?.AttendancePercentage</td>
            </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header">Unauthorised Absence %</th>
                <td class="govuk-table__cell">@lastAcademicYear?.UnauthorisedAbsencePercentage</td>
            </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header">Suspensions</th>
                <td class="govuk-table__cell">@lastAcademicYear?.Suspensions</td>
            </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header">Exclusions</th>
                <td class="govuk-table__cell">@lastAcademicYear?.Exclusions</td>
            </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header">School moves (non transitional)</th>
                <td class="govuk-table__cell">@lastAcademicYear?.SchoolMovesNonTransitional</td>
            </tr>
            </tbody>
        </table>
    </govuk-tabs-item>
</govuk-tabs>