@using SUI.Transfer.API.Client
@model DataView

<h2 class="govuk-heading-l">Children's Social Care</h2>

<table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Children's social care details</caption>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Key worker</th>
        <td class="govuk-table__cell">@Model.PersonModel!.ChildrensServicesDetails?.KeyWorker?.Value</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Duty contact details</th>
        <td class="govuk-table__cell">
            @{
                var dutyContactDetails = Model.PersonModel.ChildrensServicesDetails?.DutyContactDetails?.Value;
                if (dutyContactDetails != null)
                {
                    @Html.DisplayFor(_ => dutyContactDetails, "StringList")
                }
            }
        </td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Team involvement</th>
        <td class="govuk-table__cell">
            @{
                var teamInvolvement = Model.PersonModel.ChildrensServicesDetails?.TeamInvolvement?.Value;
                if (teamInvolvement != null)
                {
                    @Html.DisplayFor(_ => teamInvolvement, "StringList")
                }
            }
        </td>
    </tr>
    </tbody>
</table>

<table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Active childrens services statuses and plans</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Status</th>
        <th scope="col" class="govuk-table__header">Plan</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    @foreach (var relationship in Model.PersonModel.ActiveChildrensServicesPlans)
    {
        <tr class="govuk-table__row">
            <td class="govuk-table__header">@relationship.Status</td>
            <td class="govuk-table__cell">@relationship.Name</td>
        </tr>
    }
    </tbody>
</table>

<h3 class="govuk-heading-m">Referral history</h3>

<govuk-tabs>
    <govuk-tabs-item id="past-six-months" label="Past 6 months">
        <table class="govuk-table">
            <tbody class="govuk-table__body">
            @foreach (var relationship in Model.PersonModel.ChildServicesReferralSummaries?.Past6Months?.OfType<ChildServicesReferralSummary>() ?? [])
            {
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">@relationship.ReferralType</th>
                    <td class="govuk-table__cell">@relationship.Count</td>
                </tr>
            }
            </tbody>
        </table>
    </govuk-tabs-item>
    <govuk-tabs-item id="past-twelve-months" label="Past 12 months">
        <table class="govuk-table">
            <tbody class="govuk-table__body">
            @foreach (var relationship in Model.PersonModel.ChildServicesReferralSummaries?.Past12Months?.OfType<ChildServicesReferralSummary>() ?? [])
            {
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">@relationship.ReferralType</th>
                    <td class="govuk-table__cell">@relationship.Count</td>
                </tr>
            }
            </tbody>
        </table>
    </govuk-tabs-item>
    <govuk-tabs-item id="past-five-years" label="Past 5 years">
        <table class="govuk-table">
            <tbody class="govuk-table__body">
            @foreach (var relationship in Model.PersonModel.ChildServicesReferralSummaries?.Past5Years?.OfType<ChildServicesReferralSummary>() ?? [])
            {
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">@relationship.ReferralType</th>
                    <td class="govuk-table__cell">@relationship.Count</td>
                </tr>
            }
            </tbody>
        </table>
    </govuk-tabs-item>
</govuk-tabs>