@using SUI.SingleView.Web.Extensions
@model DataView

<h2 class="govuk-heading-l">Child details</h2>

<table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Summary details</caption>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Name</th>
        <td class="govuk-table__cell">@Model.PersonModel!.Name</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Date of birth</th>
        <td class="govuk-table__cell">
            @if (Model.PersonModel.PersonalDetails?.DateOfBirth?.Value != null)
            {
                @Html.DisplayFor(x => Model.PersonModel.PersonalDetails.DateOfBirth.Value, "DateOfBirth")
            }
        </td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Main address</th>
        <td class="govuk-table__cell">
            @if (Model.PersonModel.PersonalDetails?.Address?.Value != null)
            {
                var address = Model.PersonModel.PersonalDetails.Address.Value.ToAddress();
                @Html.DisplayFor(_ => address)
            }

            @if (Model.PersonModel.PoliceMarker)
            {
                <govuk-tag class="govuk-tag--dark-blue">POLICE MARKER</govuk-tag>
            }
        </td>
    </tr>
    @if (Model.PersonModel.PoliceMarker)
    {
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Police marker details</th>
            <td class="govuk-table__cell">@Model.PersonModel.PoliceMarkerDetails</td>
        </tr>
    }
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Individuals residing at Main address</th>
        <td class="govuk-table__cell">
            @if (Model.PersonModel.PersonalDetails?.NamesOfIndividualsResidingAtMainAddress?.Value != null)
            {
                @Html.DisplayFor(x => x.PersonModel!.PersonalDetails!.NamesOfIndividualsResidingAtMainAddress!.Value, "StringList")
            }
        </td>
    </tr>
    </tbody>
</table>

<table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Personal details</caption>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Birth Assigned Sex</th>
        <td class="govuk-table__cell">@Model.PersonModel.PersonalDetails?.BirthAssignedSex?.Value</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Pronouns</th>
        <td class="govuk-table__cell">@Model.PersonModel.PersonalDetails?.Pronouns?.Value</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Ethnicity</th>
        <td class="govuk-table__cell">@Model.PersonModel.PersonalDetails?.Ethnicity?.Value</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">First Language</th>
        <td class="govuk-table__cell">@Model.PersonModel.PersonalDetails?.FirstLanguage?.Value</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Designated Local Authority</th>
        <td class="govuk-table__cell">@Model.PersonModel.PersonalDetails?.DesignatedLocalAuthority?.Value</td>
    </tr>
    </tbody>
</table>

<table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Communication needs</caption>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">English as additional language (EAL)</th>
        <td class="govuk-table__cell">@Model.PersonModel.PersonalDetails?.EnglishAsAdditionalLanguage?.Value.ToYesNo()</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Braille</th>
        <td class="govuk-table__cell">@Model.PersonModel.PersonalDetails?.Braille?.Value.ToYesNo()</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Sign language</th>
        <td class="govuk-table__cell">@Model.PersonModel.PersonalDetails?.SignLanguage?.Value.ToYesNo()</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Makaton</th>
        <td class="govuk-table__cell">@Model.PersonModel.PersonalDetails?.Makaton?.Value.ToYesNo()</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Interpreter</th>
        <td class="govuk-table__cell">@Model.PersonModel.PersonalDetails?.Interpreter?.Value.ToYesNo()</td>
    </tr>
    </tbody>
</table>

<h3 class="govuk-heading-m">Relationships</h3>

<table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--s">Family members</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Relationship</th>
        <th scope="col" class="govuk-table__header">Name</th>
        <th scope="col" class="govuk-table__header">Date of birth</th>
        <th scope="col" class="govuk-table__header">Risk</th>
        <th scope="col" class="govuk-table__header">Services known to</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    @foreach (var relationship in (Model.PersonModel.PersonalDetails?.RelatedPeople?.Values ?? []).FirstOrDefault()?.Value ?? [])
    {
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">@relationship.RelationshipToTheChild</td>
            <td class="govuk-table__cell">@relationship.Name</td>
            <td class="govuk-table__cell">@Html.DisplayFor(x => relationship.Dob, "DateOfBirth")</td>
            <td class="govuk-table__cell">@Html.DisplayFor(x => relationship.Risk, "StringList")</td>
            <td class="govuk-table__cell">@* TODO: SUI-1285 *@</td>
        </tr>
    }
    </tbody>
</table>