@using SUI.SingleView.Domain.Extensions
@model Search

<h1 class="govuk-heading-xl" data-search-results-heading tabindex="-1">@ViewBag.ResultsTitle</h1>
<p class="govuk-body">
    @(Model.Results?.Count ?? 0) results found
</p>
<table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Name</th>
        <th scope="col" class="govuk-table__header">Address</th>
        <th scope="col" class="govuk-table__header">Date of birth</th>
        <th scope="col" class="govuk-table__header">NHS number</th>
        <th scope="col" class="govuk-table__header">Action</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    @if (Model.Results != null)
    {
        foreach (var result in Model.Results)
        {
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">@result.Name</td>
                <td class="govuk-table__cell">@result.Address.ToSingleLine()</td>
                <td class="govuk-table__cell">@result.DateOfBirth.ToString("dd MMMM yyyy")<br/>(@result.DateOfBirth.ToAgeInYearsString())</td>
                <td class="govuk-table__cell">@result.NhsNumber.ToString()</td>
                <td class="govuk-table__cell">
                    <a class="govuk-link" asp-page="DataView" asp-route-personId="@result.NhsNumber">View record</a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>
