@page
@model DataView
@{
    ViewData["Title"] = @Model.PersonModel.Name;
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content">
        <govuk-back-link asp-page="Index" />
        <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>
        <p class="govuk-body">
            NHS Number: @Model.PersonModel.NhsNumber
        </p>
        @foreach (var tag in Model.PersonModel.Tags)
        {
            <govuk-tag class="govuk-tag--dark-blue">@tag</govuk-tag>
        }
        <p class="govuk-body">
        </p>
        <govuk-notification-banner>
            @foreach (var message in Model.PersonModel.ImportantMessages)
            {
                <p class="govuk-notification-banner__heading">
                    @message
                </p>
            }
        </govuk-notification-banner>
        <h2 class="govuk-heading-l">Child record</h2>
        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Date last updated</caption>
            <caption class="govuk-table__caption govuk-table__caption--s">by data source</caption>
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Children's social care</th>
                <th scope="col" class="govuk-table__header">Education</th>
                <th scope="col" class="govuk-table__header">Health</th>
                <th scope="col" class="govuk-table__header">Crime</th>
                <th scope="col" class="govuk-table__header">Housing</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">@Model.PersonModel.SocialCareLastUpdated</td>
                <td class="govuk-table__cell">@Model.PersonModel.EducationLastUpdated</td>
                <td class="govuk-table__cell">@Model.PersonModel.HealthLastUpdated</td>
                <td class="govuk-table__cell">@Model.PersonModel.CrimeLastUpdated</td>
                <td class="govuk-table__cell">@Model.PersonModel.HousingLastUpdated</td>
            </tr>
            </tbody>
        </table>
        <h2 class="govuk-heading-l">Child details</h2>
        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Summary details</caption>
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Name</th>
                <td class="govuk-table__cell">@Model.PersonModel.Name</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Date of birth</th>
                <td class="govuk-table__cell">@Model.PersonModel.DateOfBirth</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Main address</th>
                <td class="govuk-table__cell">
                    @Model.PersonModel.MainAddress
                    @if (Model.PersonModel.PoliceMarker)
                    {
                        <govuk-tag class="govuk-tag--dark-blue">POLICE MARKER</govuk-tag>
                    }
                </td>
            </tr>
            @if (Model.PersonModel.PoliceMarker)
            {
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Police marker details</th>
                    <td class="govuk-table__cell">@Model.PersonModel.PoliceMarkerDetails</td>
                </tr>
            }
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Individuals residing at Main address</th>
                <td class="govuk-table__cell">
                    @foreach (var individual in Model.PersonModel.IndividualsAtMainAddress)
                    {
                        @individual <br/>
                    }
                </td>
            </tr>
            </tbody>
        </table>
        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Personal details</caption>
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Birth Assigned Sex</th>
                <td class="govuk-table__cell">@Model.PersonModel.BirthAssignedSex</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Pronouns</th>
                <td class="govuk-table__cell">@Model.PersonModel.Pronouns</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Ethnicity</th>
                <td class="govuk-table__cell">@Model.PersonModel.Ethnicity</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">First Language</th>
                <td class="govuk-table__cell">@Model.PersonModel.FirstLanguage</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Designated Local Authority</th>
                <td class="govuk-table__cell">@Model.PersonModel.DesignatedLocalAuthority</td>
            </tr>
            </tbody>
        </table>
        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Communication needs</caption>
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">English as additional language (EAL)</th>
                <td class="govuk-table__cell">@Model.PersonModel.EnglishAsAdditionalLanguage</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Braille</th>
                <td class="govuk-table__cell">@Model.PersonModel.Braille</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Sign language</th>
                <td class="govuk-table__cell">@Model.PersonModel.SignLanguage</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Makaton</th>
                <td class="govuk-table__cell">@Model.PersonModel.Makaton</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Interpreter</th>
                <td class="govuk-table__cell">@Model.PersonModel.Interpreter</td>
            </tr>
            </tbody>
        </table>
        <h3 class="govuk-heading-m">Relationships</h3>
        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--s">Family members</caption>
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Relationship</th>
                <th scope="col" class="govuk-table__header">Name</th>
                <th scope="col" class="govuk-table__header">Date of birth</th>
                <th scope="col" class="govuk-table__header">Risk</th>
                <th scope="col" class="govuk-table__header">Services known to</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            @foreach (var relationship in Model.PersonModel.Relationships)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">@relationship.Type</td>
                    <td class="govuk-table__cell">@relationship.Name</td>
                    <td class="govuk-table__cell">@relationship.DateOfBirth</td>
                    <td class="govuk-table__cell">@relationship.Risk</td>
                    <td class="govuk-table__cell">
                        @foreach (var service in relationship.ServicesKnownTo)
                        {
                            @service
                            <br/>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <h2 class="govuk-heading-l">Children's Social Care</h2>
        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Children's social care details</caption>
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Key worker</th>
                <td class="govuk-table__cell">@Model.PersonModel.KeyWorker</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Duty contact details</th>
                <td class="govuk-table__cell">
                    @Model.PersonModel.DutyContactEmail
                    <br/>
                    @Model.PersonModel.DutyContactPhone
                </td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Team involvement</th>
                <td class="govuk-table__cell">
                    @foreach (var team in Model.PersonModel.TeamInvolvement)
                    {
                        @team
                        <br/>
                    }
                </td>
            </tr>
            </tbody>
        </table>
        <h3 class="govuk-heading-m">Active childrens services statuses and plans</h3>
        <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Status</th>
                <th scope="col" class="govuk-table__header">Plan</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            @foreach (var relationship in Model.PersonModel.ActivePlans)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__header">@relationship.Status</td>
                    <td class="govuk-table__cell">@relationship.Name</td>
                </tr>
            }
            </tbody>
        </table>
        <h3 class="govuk-heading-m">Referral history</h3>
        <govuk-tabs>
            <govuk-tabs-item id="past-six-months" label="Past 6 months">
                <table class="govuk-table">
                    <tbody class="govuk-table__body">
                    @foreach (var relationship in Model.PersonModel.Referrals6Months)
                    {
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header">@relationship.Item1</th>
                            <td class="govuk-table__cell">@relationship.Item2</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </govuk-tabs-item>
            <govuk-tabs-item id="past-twelve-months" label="Past 12 months">
                <table class="govuk-table">
                    <tbody class="govuk-table__body">
                    @foreach (var relationship in Model.PersonModel.Referrals12Months)
                    {
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header">@relationship.Item1</th>
                            <td class="govuk-table__cell">@relationship.Item2</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </govuk-tabs-item>
            <govuk-tabs-item id="past-five-years" label="Past 5 years">
                <table class="govuk-table">
                    <tbody class="govuk-table__body">
                    @foreach (var relationship in Model.PersonModel.Referrals5Years)
                    {
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header">@relationship.Item1</th>
                            <td class="govuk-table__cell">@relationship.Item2</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </govuk-tabs-item>
        </govuk-tabs>
    </main>
</div>